<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .role-list li {
            list-style-type: none;
            padding-left: 2px;
            margin: 0;
        }
    </style>
    <div th:insert="~{fragments/login-dashboard :: loginFragment}"></div>
</head>
<body>
<main class="container">
    <h1>Schedule Page</h1>
    <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>
    <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <button class="btn btn-primary" data-target="#addScheduleModal" data-toggle="modal" sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')"
            type="button">
        Add Schedule
    </button>
    <div class="container">
        <form class="form-inline" method="get" th:action="@{/schedules}">
            <div class="form-group mr-2">
                <label class="mr-2" for="startDate">Start Date:</label>
                <input class="form-control" id="startDate" name="startDate" type="date"/>
            </div>
            <div class="form-group mr-2">
                <label class="mr-2" for="endDate">End Date:</label>
                <input class="form-control" id="endDate" name="endDate" type="date"/>
            </div>
            <button class="btn btn-primary" type="submit">Filter</button>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Group</th>
            <th>Professor</th>
            <th>Course</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')">Delete</th>
            <th sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${schedulesDTO}">
            <td th:text="${schedule.groupName}"></td>
            <td th:text="${schedule.professorName}"></td>
            <td th:text="${schedule.courseName}"></td>
            <td th:text="${schedule.startTime}"></td>
            <td th:text="${schedule.endTime}"></td>
            <td th:text="${schedule.date}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')">
                <form method="post" th:action="@{/schedules/delete}">
                    <input name="scheduleId" th:value="${schedule.scheduleId}" type="hidden"/>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')">

                <button class="btn btn-primary" data-toggle="modal"
                        th:data-target="${'#editScheduleModal' + schedule.scheduleId}"
                        type="button">
                    Edit
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Edit Schedules Modal -->
    <div th:each="schedule : ${schedulesDTO}">
        <div class="modal fade" role="dialog" tabindex="-1" th:id="${'editScheduleModal' + schedule.scheduleId}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Student</h5>
                        <button class="close" data-dismiss="modal" type="button">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/schedules/edit}" th:object="${scheduleDTO}">
                            <input name="scheduleId" th:value="${schedule.scheduleId}" type="hidden"/>
                            <input name="groupName" th:value="${schedule.groupName}" type="hidden"/>
                            <input name="professorName" th:value="${schedule.professorName}" type="hidden"/>
                            <input name="courseName" th:value="${schedule.courseName}" type="hidden"/>
                            <div class="form-group">
                                <label for="startTime">Start Time</label>
                                <input id="startTime" th:field="*{startTime}" type="time"/>
                            </div>
                            <div class="form-group">
                                <label for="endTime">End Time</label>
                                <input id="endTime" th:field="*{endTime}" type="time"/>
                            </div>
                            <div class="form-group">
                                <label for="date">Date</label>
                                <input id="date" th:field="*{date}" type="date"/>
                            </div>
                            <button class="btn btn-success" type="submit">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Schedule Modal -->
    <div aria-hidden="true" aria-labelledby="addScheduleModalLabel" class="modal fade" id="addScheduleModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addScheduleModalLabel">Add Schedule</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addScheduleForm" method="post" th:action="@{/schedules/add}" th:object="${schedule}">
                        <div class="form-group">
                            <label for="editGroupId">Group</label>
                            <select class="form-control" id="editGroupId" name="groupId" required>
                                <option th:each="group : ${groups}" th:text="${group.groupName}"
                                        th:value="${group.id}">Select Group
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editProfessorId">Professor</label>
                            <select class="form-control" id="editProfessorId" name="professorId" required>
                                <option th:each="professor : ${professors}" th:text="${professor.userName}"
                                        th:value="${professor.professorId}">Select Professor
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editCourseId">Course</label>
                            <select class="form-control" id="editCourseId" name="courseId" required>
                                <option th:each="course : ${courses}" th:text="${course.name}"
                                        th:value="${course.id}">Select Course
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="startTime">Start Time</label>
                            <input th:field="*{startTime}" type="time"/>
                        </div>
                        <div class="form-group">
                            <label for="endTime">End Time</label>
                            <input th:field="*{endTime}" type="time"/>
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input th:field="*{date}" type="date"/>
                        </div>
                        <button class="btn btn-success" type="submit">Add Schedule</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <a class="btn btn-primary mt-4" sec:authorize="hasAuthority('ADMIN')" th:href="@{/adminscab}">Go to Admin Panel</a>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</html>
