<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <style>
        .container { margin: auto; }
        .top-buffer { margin-top: 20px; }
        .form-group { margin-top: 15px; }
        .role-list li {
            list-style-type: none;
            padding-left: 2px;
            margin: 0;
        }
        .form-inline { margin-top: 15px; }
    </style>
</head>
<body>
<main class="container">
    <h1>Schedule Page</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Schedule ID</th>
            <th>Group ID</th>
            <th>Professor ID</th>
            <th>Course ID</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${schedules}">
            <td th:text="${schedule.id}"></td>
            <td th:text="${schedule.groupId}"></td>
            <td th:text="${schedule.professorId}"></td>
            <td th:text="${schedule.courseId}"></td>
            <td th:text="${schedule.startTime}"></td>
            <td th:text="${schedule.endTime}"></td>
            <td th:text="${schedule.date}"></td>
            <td>
                <form th:action="@{/schedule/delete(${schedule.id})}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td><button type="button" class="btn btn-primary">Edit</button></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/adminscab}" class="btn btn-primary mt-4">Go to Admin Panel</a>
</main>
</body>
</html>
