<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container { margin: auto; }
        .top-buffer { margin-top: 20px; }
        .form-group { margin-top: 15px; }
        .role-list li {
            list-style-type: none;
            padding-left: 2px;
            margin: 0;
        }
        .form-inline { margin-top: 15px; }
    </style>
    <div th:replace="fragments/login-dashboard.html"></div>
</head>
<body>
<main class="container">
    <h1>User Management</h1>
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
    <button sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')" type="button" class="btn btn-success" data-toggle="modal"
            data-target="#addUserModal">
        Add User
    </button>
    <section>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
                <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
                <th sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td>
                    <ul class="role-list">
                        <li th:each="role : ${user.role}" th:text="${role.name}"></li>
                    </ul>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="@{/user/delete}" class="d-inline" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
                <td sec:authorize="hasAnyAuthority('ADMIN', 'STUFF')">
                    <button type="button" class="btn btn-primary btn-sm"
                            th:data-target="${'#editUserModal' + user.id}"
                            data-toggle="modal">Edit
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <!-- Edit User Modal -->
    <div th:each="user: ${users}">
        <div th:id="'editUserModal' + ${user.id}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Course</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/user/edit}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control"  name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="role">Role</label>
                                <select class="form-control" name="roleName">
                                    <option th:each="role : ${roles}" th:value="${role.name}"
                                            th:text="${role.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Add User Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/user/add}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" id="role" name="roleName">
                                <option th:each="role : ${roles}" th:value="${role.name}"
                                        th:text="${role.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-secondary mt-4" th:href="@{/adminscab}">Go to
        Admin Panel</a>
</main>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</html>
